extends layout

block content
  h2 Help
  p For question clues, provide the correct answer.
  p For map clues, go to the place indicated on the map.
  p For additional help or clues, text the person who made the hunt.
  a(href="/").btn.btn-primary home

